STRING UPDATION

In [19]:
print("======= STRING UPDATION ========")
var1 = "I am learning Python"
print(var1)
print(var1 + " at 360digiTMG.")
print("Hello")
print("Updated String:- ",var1 + " at 360digiTMG")
print("Updated String:- ",var1[:6] + "at 360digiTMG")
print("Hello \nMani!")

======= STRING UPDATION ========
I am learning Python
I am learning Python at 360digiTMG.
Hello
Updated String:-  I am learning Python at 360digiTMG
Updated String:-  I am lat 360digiTMG
Hello
Mani!

STRING FORMATING

In [20]:
print("======= STRING FORMATTING =======")
name = "Mani Sai"
age = 30
height = 5.7

print("Sentence: %s is %d years old and %.1f feet tall." % (name, age, height))

print("Using format(): {0} is {1} years old and {2:.2f} feet tall.".format(name, age, height))

print("Named placeholders: {name} is {age} years old and {height:.3f} feet tall.".format(name=name, age=age, height=height))

print(f"F-string: {name} is {age} years old and {height:.4f} feet tall.")

======= STRING FORMATTING =======
Sentence: Mani Sai is 30 years old and 5.7 feet tall.
Using format(): Mani Sai is 30 years old and 5.70 feet tall.
Named placeholders: Mani Sai is 30 years old and 5.700 feet tall.
F-string: Mani Sai is 30 years old and 5.7000 feet tall.

In [21]:
name =input("Enter your name:")
age = int(input("Enter your age:"))
height = float(input("Enter your height:"))

print("Sentence:\n%s is %d years old and %.1f feet tall." % (name, age, height))

print("Using format():\n{0} is {1} years old and {2:.2f} feet tall.".format(name, age, height))

print("Named placeholders:\n{name} is {age} years old and {height:.3f} feet tall.".format(name=name, age=age, height=height))

print(f"F-string:\n{name} is {age} years old and {height:.4f} feet tall.")

Enter your name: Mani Sai
Enter your age: 21
Enter your height: 5.4

Sentence:
Mani Sai is 21 years old and 5.4 feet tall.
Using format():
Mani Sai is 21 years old and 5.40 feet tall.
Named placeholders:
Mani Sai is 21 years old and 5.400 feet tall.
F-string:
Mani Sai is 21 years old and 5.4000 feet tall.

In [24]:
name =input("Enter your name:")
age = int(input("Enter your age:"))
weight = float(input("Enter your weight:"))

print("Sentence:\nMy name is %s and my age is %d and my weight is %.2f."%(name,age,weight))

print("Using format():\n{0} is my name and my age is {1} and my weight is {2:.2f}.".format(name,age,weight))

print("Named placeholders:\n{name} is {age} years old and {weight} kgs.".format(name=name,age=age,weight=weight))

print(f"F-String format:\n{name} is {age} years old and {weight:.2f} kgs.")

Enter your name: Mani Sai
Enter your age: 21
Enter your weight: 56.8

Sentence:
My name is Mani Sai and my age is 21 and my weight is 56.80.
Using format():
Mani Sai is my name and my age is 21 and my weight is 56.80.
Named placeholders:
Mani Sai is 21 years old and 56.8 kgs.
F-String format:
Mani Sai is 21 years old and 56.80 kgs.

In [25]:
string= "Iam a super hero"
substring="a"
count=string.count(substring)
print("The count is: ",count)

The count is:  2

In [31]:
string= "Iam a super hero"
print(len(string))
substring="a"

count = string.count(substring,1,19)
print("The count is:",count)

16
The count is: 2

In [32]:
Name = "SPIDER man"
type(Name)
print(Name)
#String manipulation
print(Name.capitalize())
print(Name.upper())
print(Name.lower())
print(Name.swapcase())

SPIDER man
Spider man
SPIDER MAN
spider man
spider MAN

In [33]:
reply = "I am an eagle.I can fly high"
print(reply.replace("is","was"))
print(reply.replace("is","was",2))    #('x','x',number)= number represents how many times to consider
print(":".join(reply))

I am an eagle.I can fly high
I am an eagle.I can fly high
I: :a:m: :a:n: :e:a:g:l:e:.:I: :c:a:n: :f:l:y: :h:i:g:h

#LIST

In [7]:
list1=[1,2,3,4,5,6,7]
print(list1[3:6])

[4, 5, 6]

In [11]:
list1 = [11,22,"Mani","DigiTMG","Madhapur"]
list1[4] = "Killer"
print(list1)
list1.append(2003)
print(list1)
print(list1.pop())
print(list1)
print(list1.pop(4))
print(list1)

[11, 22, 'Mani', 'DigiTMG', 'Killer']
[11, 22, 'Mani', 'DigiTMG', 'Killer', 2003]
2003
[11, 22, 'Mani', 'DigiTMG', 'Killer']
Killer
[11, 22, 'Mani', 'DigiTMG']

In [22]:
print("====== Append and Extend =======")
list1 = ["Killer","Mani",11,22,2003]
list2 = ["Hyderabad","Warangal"]

list1.append(list2)
print(list1)

#Extend
list1 = ["Killer","Mani",11,22,2003]
list2 = ["Hyderabad","Warangal"]

list1.extend(list2)
print(list1)

====== Append and Extend =======
['Killer', 'Mani', 11, 22, 2003, ['Hyderabad', 'Warangal']]
['Killer', 'Mani', 11, 22, 2003, 'Hyderabad', 'Warangal']

In [28]:
list1 = [11,22,2003,143,1122]
list1.sort()
print(list1)

list1.sort(reverse = True)
print(list1)

[11, 22, 143, 1122, 2003]
[2003, 1122, 143, 22, 11]