LIST

In [2]:
list1 = [1,2,3]
list2 = [1,2,3]
print(1 + 2)
print("a" + "b")
list3 = list1 + list2
print(list3)
print(list1 * 3)

3
ab
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

TUPLES

In [3]:
print("======= TUPLES =======")
tup1 = ()
tup1

======= TUPLES =======

()

In [4]:
tup1 = (50 , )
type(tup1)

tuple

In [5]:
tup1 = ('Aditya', '360digiTMG', 'Vespa', 2003, 11+22j, False)
print(tup1[1])
print(tup1)
tup2 = (11,22,33,44,55,66,77)
print(tup2[1:6])

360digiTMG
('Aditya', '360digiTMG', 'Vespa', 2003, (11+22j), False)
(22, 33, 44, 55, 66)

In [6]:
tup1 = (11,22,11.22)
tup2 = ("sep" , "oct")
tup3 = tup1 + tup2
print(tup3)

(11, 22, 11.22, 'sep', 'oct')

In [7]:
tup = (1,2,3,4,5,3,3,6,7,3)
print(tup.index(2))
print(tup.count(3))

1
4

In [8]:
tup = ("Mani sai", "Jaggu", "Vignesh", "Sankeerth")
print(tup)
#del(tup)     ->Here tup will be deleted. If u print tup, its say's tht tup is not defined

('Mani sai', 'Jaggu', 'Vignesh', 'Sankeerth')

SETS

In [9]:
Mani = {11,22,33}
print(Mani)

{33, 11, 22}

In [10]:
normal_set = set(['a', 'b', 'c', 'd'])
print(normal_set)

{'b', 'a', 'd', 'c'}

In [11]:
# Converting a list into a set
my_list = [1,2,3,4,5,6,7]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
#Operation on sets
set1 = {1,2,3}
set2 = {4,5,6}
# Find the intersection of set1 and set2
intersection_set1 = set1.intersection(set2)
print(intersection_set1)    #Here ntng is common in both the sets
set3 = {1,2,3}
set4 = {3,4,5}
intersection_set2 = set3.intersection(set4)
print(intersection_set2)    #Here, 3 is common in both the sets

set()
{3}

In [19]:
# intersection function can be represented as (&) 
set1 = {1, 2, 3}
set2 = {1, 9, 0}
set3 = set1 & set2
print("Intersection of set1 & set2 is: set3 =", set3)

Intersection of set1 & set2 is: set3 = {1}

In [20]:
# union() function
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}

# Union of two sets
print("set1 U set2 : ", set1.union(set2))

# union() function can be represented as vertical slash (|) which is pipe delimiter

set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}

set3 = set1 | set2
print("Union of set1 & set2 is: set3 =", set3)

set1 U set2 :  {2, 4, 5, 6, 7, 8}
Union of set1 & set2 is: set3 = {2, 4, 5, 6, 7, 8}

In [21]:
# Defining three sets
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {7, 8, 9, 10}

# Printing the union of set1, set2, and set3
print("set1 U set2 U set3 :", set1.union(set2, set3))

set4 = set1 | set2 | set3
print("set1 | set2 | set3 :",set4)   #union

set5 = set1 & set2 & set3    
print("set1 & set2 & set3:",set5)   #Intersection

set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}
set1 | set2 | set3 : {2, 4, 5, 6, 7, 8, 9, 10}
set1 & set2 & set3: set()

In [22]:
# Difference between set3 and set4
set1 = {1,2,3,4,5}
set2 = {4,5}
set3 = set1 - set2
print("Elements in set1 and not in set2: set3 = ", set3)

Elements in set1 and not in set2: set3 =  {1, 2, 3}

In [23]:
# check if set1 and set2 are disjoint sets
set1 = {1,2,3,4,5}
set2 = {6,7,8}

if set1.isdisjoint(set2): # 'if' is a conditional statement
    print("set1 and set1 have nothing in common\n")

set1 and set1 have nothing in common

In [24]:
#Removing all the values of set3
set1 = {1,2,3,4,5}
set2 = {2,3,6,7}
set3 = set1 - set2
set3.clear()
print("After applying clear on set set3: ")
print("set3 = ", set3)

After applying clear on set set3:
set3 =  set()

In [25]:
# Define a tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')
# Create a frozen set from the tuple
fSet = frozenset(vowels)
print('The frozen set is:', fSet)
#fSet.add('v')    "Frozen set" are immutable. add,pop these funtions wont work

The frozen set is: frozenset({'o', 'e', 'a', 'u', 'i'})

Mappings / Dictionaries

In [26]:
dict1 = {'Name': 'Mani Sai', 'Age': 21, 'bike': 'Vespa'}
print(dict1)
print(dict1['Name'])
print(dict1['Age'])
dict1 = {'Name': 'Jaggu', 'Age': 21, 'bike': 'Jupiter'}
print(dict1)
dict1['Age'] = 25
print(dict1)

dict1['Age'] = 9
dict1['School'] = "DPS School"
dict1['Salary'] = 50000
print("----- Printing updated values ------\n")
print(dict1['Age'])
print(dict1['School'])
print(dict1['Salary'])
print("------ Retrieve keys, values, and items of the dictionary------\n")
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print("-----Delete dictionary elements------\n")
del(dict1['Name'])
print(dict1)

{'Name': 'Mani Sai', 'Age': 21, 'bike': 'Vespa'}
Mani Sai
21
{'Name': 'Jaggu', 'Age': 21, 'bike': 'Jupiter'}
{'Name': 'Jaggu', 'Age': 25, 'bike': 'Jupiter'}
----- Printing updated values ------

9
DPS School
50000
------ Retrieve keys, values, and items of the dictionary------

dict_keys(['Name', 'Age', 'bike', 'School', 'Salary'])
dict_values(['Jaggu', 9, 'Jupiter', 'DPS School', 50000])
dict_items([('Name', 'Jaggu'), ('Age', 9), ('bike', 'Jupiter'), ('School', 'DPS School'), ('Salary', 50000)])
-----Delete dictionary elements------

{'Age': 9, 'bike': 'Jupiter', 'School': 'DPS School', 'Salary': 50000}

In [27]:
d = {'k1': 123, 'k2': [8, 9, 10], 'k3': {'inside_key': 100}}
print(d)
print(d['k1'])
print(d['k2'])
print(d['k2'][1])
print(d['k3'])
print(d['k3']['inside_key'])

{'k1': 123, 'k2': [8, 9, 10], 'k3': {'inside_key': 100}}
123
[8, 9, 10]
9
{'inside_key': 100}
100

In [ ]:
age = int(input("what is your age :-"))
if age >= 18:
    print( "You are an adult." )
else:
    print("You are an kid.")
    
Number = int(input("DOB:-"))
if Number % 2 == 0:
    print("Even")
else:
    print("odd")
Number = int(input("DOB1:-"))
if Number % 3 == 1:
     print("Even")
else:
     print("odd")   
     
a1 = int(input("numbre:-" ))
a2 = int(input("number2:-"))
if a1 > a2:
    print("we get the greater number")
else:
    print("it not greater number" )
#condition Formating
ManiSai = int(input("what is your marks:-"))

if ManiSai  >= 90:
    print("Mani Sai Get Grade A")
elif ManiSai >= 75:
    print("Mani Sai get Grade B")
elif ManiSai >= 50:
    print("Mani Sai Get Grade C")
else:
    print("false") 
    
naveen = int(input("what is your makes:-"))
subject =input("what is the subject:-")

if naveen >= 90:
    print( f"Naveen Get Grade A in {subject}")
elif naveen >= 75:
    print(f"Naveen Get Grade B in {subject}")
elif naveen >= 50:
    print(f"Naveen Get Grade C in {subject}")
else:
    print(f"Naveen Get fail in {subject}")
a = int(input("N1:-"))
b = int(input("N2:-"))
c = int(input("N3:-"))
if a>b and a>c:
    print("A is the Greater Number",a)
elif b>a and b>c:
    print("B is the Gretaer Number",b)
else:
    print("C is the Greater Numbner",c)

a1 = int(input("N1:-"))
  
if a1 > 0: 
  if a1 % 2 == 0:
    print("A is the Even ", a1)
  else:
    print("A is Odd ", a1)
elif a1 < 0:
    if a1 % 2 == 0:
      print("A is the Even ", a1)
    else:
      print("A is Odd ", a1)
else:
    print("A is possitive  Number:-", a1 )